<%include ./partial/header %>




<div class="container">
	<div class="jumbotron">
		<form action="/dashboard" method="GET" >
			<div class="form-group">
		 <input type="text" name="fuzzy" class="form-control">
		 </div>
		 <button class="btn btn-lg btn-primary">Search!!</button>
		</form>
		</div>
	</div>
<div>



<%data.map(function(data){%>
	
	<div  class="card">
			<div class="title"><h3 ><%=data.title%></h3>
	
			</div>
	<img src="<%= data.image%>" height='300' width='250' >
	  <p class="description">Description : </p>
		<p class="description2"><%=data.text%></p>
	
	<h3 class="bid_cost">MaxPrice :      Rs. </h3>
		<h3 class="bid"><%=data.bid%></h3>

   
	
	<button class="btn_bid"><a href="/dashboard/<%= data._id %>">Bid</a></button>
  
	</div>
	
<% })%>

</div>



<% include ./partial/footer %>
